<!DOCTYPE html>
<html>

<head>
  <title>Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>

<body>
    <h1>Please sign up</h1>

    <form action="/users" method="post">
      Email: <br> <input name="email" type="text" value="<%= @user.email %>"><p>
      Password: <br><input name="password" type="password"><p>
      Re-enter Password: <br><input name="password_confirmation" type="password"> <p>
      <input type="submit" value="Sign up">
    </form>
    </body>

</html>

