
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lorraine's Bookmark Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link type="image/x-icon" href="./favicon.ico" rel="shortcut icon">
</head>

<body> 
    
    <h1>Please sign up</h1>

    <form action="/users" method="post">
      Email: <input name="email" type="text">
      Password: <input name="password" type="password">
      And again: <input name="password_confirmation" type="password">  
      <input type="submit" value="Sign up">
    </form>

</body>

</html>